body{
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

h1{
    font-family: Arial;
    position: absolute;
    top: 49%;
    left:51%; 
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    text-shadow: 0 0 5px white,
                0 0 25px white,
                0 0 50px white,
                0 0 200px white;
}

ul{
    position: absolute;
    top: 40%;
    left:50%; 
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
    animation: orbit 2s linear infinite;
}

ul li{
    list-style: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 5px white,
                0 0 25px white,
                0 0 50px white,
                0 0 200px white;
}

li:nth-child(0){
    margin-bottom: 100px;
}
li:nth-child(1){
    margin-top: 100px;
}


@keyframes orbit{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}