body{
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;

    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;

}

.parent{
    height: 100vh;
    padding: 0px 10px 0px 10px;

    background-color: coral;

    display: flex;
    justify-content: center;
    align-items: center;
}

.second{
    height: 100vh;
    padding: 0px 10px 0px 10px;

    background-color: aquamarine;

    display: flex;
    justify-content: center;
    align-items: center;
}